*
!.gitignore
!.gitmodules
!README.md

!CMakeLists.txt

!external/
!external/**

!10-mnist/
!10-mnist/**
!11-mnist-refactor/
!11-mnist-refactor/**


!20-raytracing/
!20-raytracing/**



!83-ViT/
!83-ViT/**

!100-UNet-seungwoo/
!100-UNet-seungwoo/**

!101-EfficientNet-dongyeob/
!101-EfficientNet-dongyeob/**

!102-ResNet-JongSeok/
!102-ResNet-JongSeok/**
