*
!.gitignore
!.gitmodules
!README.md

!CMakeLists.txt

!external/
!external/**

!10-mnist/
!10-mnist/**
!11-mnist-refactor/
!11-mnist-refactor/**


!20-raytracing/
!20-raytracing/**



!83-ViT/
!83-ViT/**

!100-UNet-seungwoo/
!100-UNet-seungwoo/**

!101-EfficientNet-dongyeob/
!101-EfficientNet-dongyeob/**

!102-ResNet-JongSeok/
!102-ResNet-JongSeok/**

!103-MobileNetV2-SangIn/
!103-MobileNetV2-SangIn/**

!104-PointNet-Jeonghan/
!104-PointNet-Jeonghan/**

!107-VisionTransformer-SungHyun/
!107-VisionTransformer-SungHyun/**

!110-GPT2-hyungkyu/
!110-GPT2-hyungkyu/**

!111-VisionTransformer-Jieun/
!111-VisionTransformer-Jieun/**

!112-SuffleNet-Chaeeun/
!112-SuffleNet-Chaeeun/**

!113-GoogleNet-Huicheol/
!113-GoogleNet-Huicheol/**

!115-MobileNetV2-HanGyu/
!115-MobileNetV2-HanGyu/**

!116-ResNet-Yongjin/
!116-ResNet-Yongjin/**